<!DOCTYPE html>
<html>
<head>
  <title>high chart test</title>
  <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="application">

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="container"></div>
        </div>
    </div>
</div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/highcharts.js"></script>
  <script type="text/javascript" src="../assets/high-chart-sample.js"></script>
</body>
</html>