{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}my Flask app{% endblock %}
{% block content %}
<!--class "container" means fixed width;
"container-fluid" means full(100%) width, occupy all viewport.-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="sample-chart"></div>
            <p> test </p>
            <!--<img src="{{ url_for('.graph') }}" alt="Image Placeholder" class="img-responsive img-thumbnail">-->
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-6 image-container">
            <!--class "img-responsive" means image will support auto-fit the parent layout.
             It equals max-width: 100% and height: auto-->
            <img src="{{ url_for('.graph') }}" alt="Image Placeholder" class="img-responsive">
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <!--<script type="text/javascript" src="{{ url_for('assets', filename='js/two-and-one.js') }}"></script>-->
    <script type="text/javascript">
        {{ include ("two-and-one.js") }}
    </script>
{% endblock %}