{% extends "bootstrap/base.html" %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->
{% block title %}my Flask app{% endblock %}
{% block styles %}
{{ super() }}
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/templatemo-style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<!--class "container" means fixed width;
"container-fluid" means full(100%) width, occupy all viewport.-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="container"></div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-6 image-container">
            <!--class "img-responsive" means image will support auto-fit the parent layout.
             It equals max-width: 100% and height: auto-->
            <img src="{{ url_for('.graph') }}" alt="Image Placeholder" class="img-responsive">
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% endblock %}

<!--if you don't know the block name, check the definition in base.html under flask_bootstrp package.-->
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='highcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='high-chart-sample.js') }}"></script>
{% endblock %}
