<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Starter UI, by Keen IO</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="../assets/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../assets/css/keen-dashboards.css" />
</head>
<body class="application">

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pageviews by browser (past 24 hours)
          </div>
          <div class="chart-stage">
            <div id="sample-chart"></div>
            <!--<img data-src="../assets/js/two-and-one.js">-->
            <!--<img data-src="holder.js/100%x350/white">-->
          </div>
          <div class="chart-notes">
            This is a sample text region to describe this chart.
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pageviews by browser (past 5 days)
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x350/white">
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Impressions by advertiser
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x150/white">
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by Junjun Lin</p>

  </div>

  <script type="text/javascript" src="../assets/lib/jquery/dist/jquery.min.js"></script>
  <!--<script type="text/javascript" src="../assets/Highcharts-5.0.14/api/js/jquery-1.11.3.min.js"></script>-->
  <script type="text/javascript" src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="../assets/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="../assets/js/meta.js"></script>

  <script type="text/javascript" src="../assets/lib/highcharts.js"></script>
  <!--<script type="text/javascript" src="../assets/Highcharts-5.0.14/code/js/themes/gray.js"></script>-->
  <script type="text/javascript" src="../assets/js/two-and-one.js"></script>
</body>
</html>